* {
    box-sizing: border-box;
    font-family: helvetica;
    font-size: 14px;
}


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
:global(#app){
    height: 100%;
}
:global(.div-style) {
  background: red;
}
